﻿body {
    background: #282828;
    background-image: url("/Content/img/bg.png");
}

.form-horizontal, .dl-horizontal {
    background: dimgrey;
    padding-bottom: 1px;
}

tr {
    background: #555555;
}

dd {
    border: 1px solid;
    margin-left: 0px !important;
}

label {
    color: whitesmoke;
}

h4 {
    font-family: 'Georgia';
    font-size: 20px;
}
dt {
    border-top: 1px solid;
    padding-right: 15px;
}

.target > img {
    text-align: center;
}

.navbar {
    background: #222222;
}

table, p, .dl-horizontal {
    color: whitesmoke;
}

.pelicula {
    margin-top: 30px;
    border-radius: 4px;
}

.comercial {
    background: #3190c8;
}

.documental {
    background: #65b21e;
}

h4 {
    padding-top: 5px;
    text-align: center;
    color: whitesmoke;
}


h3, a, a.navbar-brand {
    color: whitesmoke;
}


.navbar .divider-vertical {
    height: 50px;
    margin: 0 9px;
    border-right: 1px solid #ffffff;
    border-left: 1px solid #f2f2f2;
}

.navbar-inverse .divider-vertical {
    border-right-color: #666666;
    border-left-color: #555555;
}

@media (max-width: 767px) {
    .navbar-collapse .nav > .divider-vertical {
        display: none;
    }
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 10px;
    padding-right: 10px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}