﻿﻿@model IEnumerable<Cartelera.Models.Pelicula>
@using System.Data.Entity.Core.Objects
@using Cartelera.Models.Peliculas;

@{
    ViewBag.Title = "Películas";
}


<h3>@ViewBag.Title</h3>

    @if ((String)Session["admin"]=="codificado")
    {
    <p> <!-- TODO Vista unica -->
        Crear: @Html.ActionLink("Película", "Create", "Comerciales") |
        @Html.ActionLink("Documental", "Create", "Documentales")
    </p>
    }

    @foreach (var item in Model)
    {
        string tipo = "";
        if (ObjectContext.GetObjectType(item.GetType()) == typeof(Comercial))
        {
            tipo = "comercial";
        }

        if (ObjectContext.GetObjectType(item.GetType()) == typeof(Documental))
        {
            tipo = "documental";
        }

        @:<div class="col-sm-4">
            <div class="pelicula @tipo">
                <div class="target">
                    <h4>@Html.DisplayFor(modelItem => item.Titulo)</h4>
                    <img class="center-block" src="data:image/jpg;base64,@Html.DisplayFor(modelItem => item.Foto)" width="192" height="256" alt="Poster" />
                    <br />

                    @if (ObjectContext.GetObjectType(item.GetType()) == typeof(Comercial))
                    {
        @:</div>
                    <p class="text-center">
                        @if ((String)Session["admin"] == "codificado")
                        {
                            @Html.ActionLink("Editar", "Edit", "Comerciales", new { id = item.Id }, "")
                            @Html.Raw(" |")
                        }
                        @Html.ActionLink("Detalles", "Details", "Comerciales", new { id = item.Id }, "")
                    </p>
                    }

                    @if (ObjectContext.GetObjectType(item.GetType()) == typeof(Documental))
                    {
        @:</div>
                    <p class="text-center">
                        @if ((String)Session["admin"] == "codificado")
                        {
                            @Html.ActionLink("Editar", "Edit", "Documentales", new { id = item.Id }, "")
                            @Html.Raw(" |")
                        }
                        @Html.ActionLink("Detalles", "Details", "Documentales", new { id = item.Id }, "")
                    </p>
                    }
                </div>
            </div>


    }