﻿@using Cartelera.Models
@model Cartelera.Models.Peliculas.Comercial

@{
    ViewBag.Title = Model.Titulo;
}

<div class="row">
    <div class="col-sm-8">
        <dl class="dl-horizontal comercial">
            <dt>
                @Html.DisplayNameFor(model => model.Titulo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Titulo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Foto)
            </dt>

            <dd>
                <img src="data:image/jpg;base64,@Html.DisplayFor(model => model.Foto)" width="192" height="256" alt="Poster" />
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Duracion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Duracion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Sinopsis)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Sinopsis)
            </dd>

            <dt>
                Tipo
            </dt>

            <dd>
                Comercial
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Actores)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Actores)
            </dd>

        </dl>


        @if ((String)Session["admin"] == "codificado")
        {
            <p>
                @Html.ActionLink("Editar", "Edit", new { id = Model.Id })
            </p>
        }
    </div>

    @if (ViewBag.Funciones != null && ViewBag.Cines != null)
    {
        Cine cineaux = null;
        <div class="col-sm-4">
            <dl class="dl-horizontal comercial">
                <dt style="text-align: center">
                    Funciones
                </dt>

                <dd>
                </dd>
                
                @foreach (Funcion funcion in ViewBag.Funciones)
                {
                        
                    if (cineaux==null || funcion.Sala.Cine.Nombre != cineaux.Nombre)
                    {
                        <dt style="text-align:left">
                            &nbsp; Cine @funcion.Sala.Cine.Nombre
                        </dt>
                        <dd><span>&nbsp;</span></dd>
                    }
                    cineaux = funcion.Sala.Cine;

                    <dd>
                        <span>&nbsp;&bull; Sala @funcion.SalaId &emsp; @funcion.Horario</span>
                    </dd>

                }

            </dl>
        </div>
    }
        </div>
