﻿@model Cartelera.Models.Cine

@{
    ViewBag.Title = "Funciones";
}
<script>
    window.addEventListener("DOMContentLoaded", function () {
        document.getElementById("Cines").style.display = "block";
    });
</script>

<h3>@ViewBag.Title</h3>


<div class="row">
    <table class="table">
        <tbody>
            <tr>
                <th>
                    <div class="col-sm-3">@Html.DropDownList("Cines", null, "", htmlAttributes: new { @class = "form-control", @style = "display: none" })</div>
                    <div id="Salas" class="col-sm-2"></div>

                    <form class="form-inline" method="get" action='@Url.Action("Create", "Funciones")'>
                        @Html.AntiForgeryToken()
                        <div id="AgregarFuncion" class="col-sm-2"></div>
                    </form>
                    <form class="form-inline" method="post" action='@Url.Action("Delete", "Funciones")'>
                        @Html.AntiForgeryToken()
                        <div id="BorrarFunciones" class="col-sm-3"></div>
                    </form>
                </th>
            </tr>
        </tbody>
        <tbody id="Funciones"></tbody>

    </table>
</div>