﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = "Login";
}

<div>
    <form class="form" method="post" action='@Url.Action("Login")'>
        
        @if (TempData["resultado"] != null)
        {
            <p class="label-danger">&nbsp;Datos incorrectos</p>
        }

        <div class="form-group">
            <h3>&emsp;@ViewBag.Title</h3>
            <div class="col-sm-4">
                <input required pattern=".*[^ ].*" class="form-control" type="text" name="User" placeholder="Nombre" autofocus/>
                <br/>
                <input required class="form-control" type="password" name="Password" placeholder="Contraseña"/>
            </div>
            <div class="col-sm-3">
                <input style="margin-left: 5px" class="btn btn-primary" type="submit" name="login" value="Ingresar"/>
            </div>
        </div>
    </form>
</div>